@{
    ViewData["Title"] = "Şifrəni Yenilə";
}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Unudulmuş Şifrənin Yenilənməsi</h1>
            </div><!-- end col -->
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li class="active">ResetPassword</li>
                    </ol>
                </div><!-- end bread -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
<section class="white section">
    <div class="container">
        <div class="row panel-login">
            <div class="col-lg-12">
                <div class="col-lg-5 col-lg-offset-3">
                    <h1>Sizin şifrəniz yeniləndi. Hesabınıza daxil olmaq üçün <a asp-controller="Account" asp-action="Login">bu linkdən</a> istifadə edin.</h1>
                </div>
            </div>
        </div>
    </div>
</section>
