@{
    ViewData["Title"] = "Xəta";
}

<section class="grey section">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog-wrapper">
                    <div class="row second-bread">
                        <div class="col-md-6 text-left">
                            <h1>Sorğunuzun icrası zamanı xəta baş verdi</h1>
                        </div><!-- end col -->
                        <div class="col-md-6 text-right">
                            <div class="bread">
                                <ol class="breadcrumb">
                                    <li>Home</li>
                                    <li class="active">Error</li>
                                </ol>
                            </div><!-- end bread -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end blog-wrapper -->
                <div class="blog-wrapper">
                    <div class="blog-desc notfound text-center">
                        <p class="lead">
                            Diqqət sizin sorğunuzun icarası zamanı xəta baş verdi. Zəhmət olmasa sorğunuzu yenidən icra edin və <br/> əgər yenidən problem yaranarsa bizə bu haqda yazın</p>
                        <a asp-controller="Home" asp-action="Contact" class="btn btn-default">Bizə yazın</a>
                        <hr class="invis">
                    </div><!-- end desc -->
                </div><!-- end blog-wrapper -->
            </div><!-- end content -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->