@model  Abituriyent.Info.Web.Models.ViewModels.SocialViewModel
<a class="social" href="@Model.FacebookPage">
    <i class="fa fa-facebook"></i>
</a>
<a class="social" href="@Model.TwitterPage">
    <i class="fa fa-twitter"></i>
</a>
<a class="social" href="@Model.LinkedinPage">
    <i class="fa fa-linkedin"></i>
</a>