@model Abituriyent.Info.Core.Domain.HappyStudent

@{
    ViewData["Title"] = "Edit Happy Student";
    Layout = "_AdminLayout";
}

<h2>Edit</h2>

<form asp-action="HappyStudentEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Happy Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="FullName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Review" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
            <input type="hidden" asp-for="ImageUrl"/>
            <div class="col-md-10">
                @if (Model.ImageUrl != null)
                {
                    <a href="@Model.ImageUrl">View Image</a> <span>&nbsp; &nbsp;</span>
                }
                <input id="imageFile" name="imageFile" type="file" class="form-control file2 inline btn btn-primary" data-label="<i class='glyphicon glyphicon-file'></i>Select Image(268x269)" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="HappyStudentIndex">Back to List</a>
</div>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
