@model Abituriyent.Info.Core.Domain.HappyStudent

@{
    ViewData["Title"] = "Create Happy Student";
    Layout = "_AdminLayout";
}

<h2>Create</h2>

<form asp-action="HappyStudentCreate" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Happy Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FullName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Image</label>
            <div class="col-md-10">
                <input id="imageFile" name="imageFile" type="file" class="form-control file2 inline btn btn-primary" data-label="<i class='glyphicon glyphicon-file'></i>Select Image(268x269)" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Review" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Review" class="form-control"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="HappyStudentIndex">Back to List</a>
</div>